appdirs==1.4.3
attrs==19.1.0
beautifulsoup4==4.8.0
black==19.3b0
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
idna==2.8
isort==4.3.21
jdatetime==3.4.0
lxml==4.6.3
pkg-resources==0.0.0
prettytable==0.7.2
requests==2.22.0
soupsieve==1.9.2
toml==0.10.0
urllib3==1.25.3
